# Feature Engineering and Visual Analysis for Flight Price Prediction

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_excel("Data_Train.xlsx")

In [6]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [10]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

### Preprocessing 'Duration' to Numeric

In [13]:
# Duration Cleaning
def convert_duration(x):
    x = x.replace('h', '').replace('m', '')
    parts = x.strip().split()
    if len(parts) == 2:
        return int(parts[0]) * 60 + int(parts[1])
    elif 'h' in x:
        return int(parts[0]) * 60
    else:
        return int(parts[0])

df['Duration'] = df['Duration'].str.replace('h', 'h ').str.replace('m', 'm ')
df['Duration'] = df['Duration'].apply(lambda x: x.strip())
df['Duration_mins'] = df['Duration'].apply(convert_duration)

### Mean Encoding for 'Airline' and 'Source'

In [16]:
# Mean Encoding
df['Price'] = df['Price'].astype(float)

df['Airline_mean_encoded'] = df.groupby('Airline')['Price'].transform('mean')
df['Source_mean_encoded'] = df.groupby('Source')['Price'].transform('mean')

### Create Polynomial Features

In [19]:
# Polynomial Features
df['Duration_squared'] = df['Duration_mins'] ** 2

# If distance is present, do the same
if 'Distance' in df.columns:
    df['Distance_squared'] = df['Distance'] ** 2

Visualize Distribution of Flight Prices